{% extends 'base.html' %}

{% block title %}About | {% endblock %}

{% block content %}
<h1 class="title">About</h1>

<p>Kevin Zeiger (a.k.a. ZEVIN) is a guitarist, bassist, pianist, accordionist, vocalist, and songwriter based in
        the Chicagoland area. In 2014 he debuted his first solo release under the name "Zevin," and has since
        published four additional releases (listed below).</p>
<br>
<p>ZEVIN is an ever-evolving project. There is no 'true' musical direction with ZEVIN, just melodic
        possibilities. As a fan of many MANY different genres, the aim is to create a vast array of different sounds
        and translate them to the live stage as fully as possible. Drawing influence from several different areas
        (not just music) truly helps to craft something unique, so expect the unexpected.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}