{% extends 'base.html' %}

{% block title %}Shows | {% endblock %}

{% block content %}
    <h1 class="title">Shows</h1>

    <ul>
        <li>Live shows TBD when the world is safe again. Check out my garage shows in the meantime!</li>
        <br>
        <br>
        <br>
        <li><a href="https://fb.watch/3eVGNxsOgE/">Live from a Garage III! Dec 12th, 2020</a></li>
        <li><a href="https://fb.watch/3eVDkXohni/">Live from a Garage II! Sept 13th, 2020</a></li>
        <li><a href="https://fb.watch/3eVxTg7PrR/">Live from a Garage! May 24th, 2020</a></li>
    </ul>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

{% endblock %}